body {
      margin: 0;
    text-align: center;
    font-family: serif; 
	color: #40514e
	
    }

h1 {
   font-size: 3rem; 
    margin: 50px auto 0 auto;
    font-family: cursive;
	color: #66BFBF;
    
}

h2 {
    font-family: sans-serif;
	color: #66BFBF;
	font-weight: normal;
	padding-bottom: 10px;
    
}

h3 {
    font-family:sans-serif;
	color: #11999E; 
	
}

.top-container {
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
.mount {
    width: auto;
}
.top-container p{
    font-size: 2.5rem;
}
.middle-container {
	margin: 100px 0
 
	
}

.bottom-container {
  
    
}
.pro{
    text-decoration: underline;
}

p{
	line-height: 2;
}

 hr {
             border-style: dotted none none;  
              border-color: grey;
              border-width: 5px;
              height: 0px; 
              width: 5%;
          }

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute; 
    left: 250px;  
    bottom: 300px;
    
}

.my-image {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    
}
.skill-row {
	width: 50%;
	text-align: left;
	margin: 100px auto 100px auto;
	line-height: 2;
	
}

.skillsi {
    width: 150px;
	height: 150px;
	float: left;
	margin-right: 30px;
	border-radius: 100px;
}

.Skillsimage {
	width: 25%;
	float: right;
	margin-left: 30px;

}



.bottom-container{
	background-color :#66BFBF;
	padding:30px;

	
}

.bottom-container a {
	text-decoration: none;
	color: #11999E;
}
 
.bottom-container a:hover{
	color: white;
	cursor: pointer;
	transition: ease 0.3s;
}
.trade {
	color: #EAF6F6;
	padding: 20px 0;
}

.footer-link {
	margin-right: 30px;
}

.btn { 
    width: 120px;
	height: 30px; 
	background: linear-gradient(to top, #11999E, #66bfbf);
    border: none; 
	border-radius: 10px;
	margin-top: 20px;
	
}
.btn a{
	text-decoration: none;
	color: white; 
	font-size: 12px;
}
.btn:hover{
	cursor: pointer;
	transition: ease 0.1s;
}
